$regular: 400;
$medium: 500;
$bold: 700;

$global-background-color: #FFFFFF;
$global-text-color: #000000;

$header-background-color: rgba(#1E0906, 0.15);
$basket-counter-color: #F20505;

$footer-background-color: #3F3F3F;

$link-hover-color: #474747;
$link-active-color: rgba($link-hover-color, 0.5);

$line-color: #DDDADA;
$checkbox-color: #9F9E9E;
$checkbox-hover-color: #585757;
$checkbox-active-color: #C1C1C1;
$checkbox-disabled-color: #DDDDDD;
$checkbox-disabled-fill-color: #F6F3F3;

$sort-btn-active-color: #6C6C6C;
$orange-btn-color: #E27F00;
$orange-hover-color: #FFA839;
$orange-active-color: #DA8B26;

$desktop-width: 1024px;
$desktop-end-width: 1366px;
